* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: linear-gradient(104deg, #111312 1%, #121414 100%);
  /* color:#fff; */
  /* margin-top: 3vh; */
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
